.testimonialbg-color{
    background-color:rgb(125, 125, 160);
}
.testimonial-col{
    padding-top: 100px;
}
.review-img{
    max-width: 500px;
    height: 400px;
}
.review-img img{
    width: 100%;
    height: 100%;
}


/* Responsive */
