.navbar-div{
    background-color: rgb(125, 125, 160);
}
.navbar-logo{
    max-width: 150px;
    height: 50px;
}
.navbar-logo .logo{
    width: 100%;
    height: 100%;
}
.navbar-menu{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.header-form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    /* background: white; */
    box-sizing: border-box;
    border-radius: 25px;
    /* border: 4px solid white; */
    padding: 5px;
}

.search-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 18px;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 43px;
    height: 43px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 23px;
    transition: all 1s;
}

form:hover{
    width: 300px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
}
.offcanvasTwo{
    width: 400px !important;
}
.offcanvas-backdrop{
    z-index:0;
}
.orderItemsbtn{
    background-color: rgb(125, 125, 160);
    padding: 10px;
    color: #fff;
}
/* Responsive */
@media screen and (max-width:1160px){
    .navbar-menu .nav-link{
        font-size: 15px;
    }
    .navbar-logo .logo{
        width: 120px;
        height: 50px;
        
    }
    
}
@media screen and (max-width:1340px){
    .navbar-logo{
        width: 150px;
        height: 60px;
        
    }
    
}